BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "clk0" SITE "107" ;
LOCATE COMP "cdiv0[4]" SITE "67" ;
LOCATE COMP "cdiv0[3]" SITE "68" ;
LOCATE COMP "cdiv0[2]" SITE "70" ;
LOCATE COMP "cdiv0[1]" SITE "69" ;
LOCATE COMP "cdiv0[0]" SITE "71" ;
