BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "clk00" SITE "120" ;
#DIVISOR DE FRECUENCIA
LOCATE COMP "cdiv00[4]" SITE "67" ;
LOCATE COMP "cdiv00[3]" SITE "68" ;
LOCATE COMP "cdiv00[2]" SITE "70" ;
LOCATE COMP "cdiv00[1]" SITE "69" ;
LOCATE COMP "cdiv00[0]" SITE "71" ;
#RESET
LOCATE COMP "reset0" SITE "62" ;
#OUTFLAGS
LOCATE COMP "outFlagcc0" SITE "20" ;
LOCATE COMP "outFlagc0" SITE "19" ;
LOCATE COMP "outFlagcd0" SITE "14" ;
#outControlLEDs
LOCATE COMP "outEN0" SITE "24" ;
LOCATE COMP "outRW0" SITE "23" ;
LOCATE COMP "outRS0" SITE "22" ;
#outContcc0
LOCATE COMP "outContcc0[4]" SITE "9" ;
LOCATE COMP "outContcc0[3]" SITE "6" ;
LOCATE COMP "outContcc0[2]" SITE "5" ;
LOCATE COMP "outContcc0[1]" SITE "4" ;
LOCATE COMP "outContcc0[0]" SITE "3" ;
#outContcd0
LOCATE COMP "outContcd0[4]" SITE "121" ;
LOCATE COMP "outContcd0[3]" SITE "126" ;
LOCATE COMP "outContcd0[2]" SITE "125" ;
LOCATE COMP "outContcd0[1]" SITE "128" ;
LOCATE COMP "outContcd0[0]" SITE "127" ;
#outwordLED0
LOCATE COMP "outwordLED0[7]" SITE "110" ;
LOCATE COMP "outwordLED0[6]" SITE "109" ;
LOCATE COMP "outwordLED0[5]" SITE "112" ;
LOCATE COMP "outwordLED0[4]" SITE "111" ;
LOCATE COMP "outwordLED0[3]" SITE "114" ;
LOCATE COMP "outwordLED0[2]" SITE "113" ;
LOCATE COMP "outwordLED0[1]" SITE "117" ;
LOCATE COMP "outwordLED0[0]" SITE "115" ;
#outwordLCD0
LOCATE COMP "outRW0" SITE "93" ;
LOCATE COMP "outRS0" SITE "95" ;
LOCATE COMP "outEN0" SITE "96" ;
LOCATE COMP "outwordLCD0[7]" SITE "107" ;
LOCATE COMP "outwordLCD0[6]" SITE "106" ;
LOCATE COMP "outwordLCD0[5]" SITE "105" ;
LOCATE COMP "outwordLCD0[4]" SITE "104" ;
LOCATE COMP "outwordLCD0[3]" SITE "100" ;
LOCATE COMP "outwordLCD0[2]" SITE "99" ;
LOCATE COMP "outwordLCD0[1]" SITE "98" ;
LOCATE COMP "outwordLCD0[0]" SITE "97" ;
LOCATE COMP "outENled0" SITE "24" ;
LOCATE COMP "outRWled0" SITE "23" ;
LOCATE COMP "outRSled0" SITE "22" ;
