BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "outs0[7]" SITE "110" ;
LOCATE COMP "outs0[6]" SITE "109" ;
LOCATE COMP "outs0[5]" SITE "112" ;
LOCATE COMP "outs0[4]" SITE "111" ;
LOCATE COMP "outs0[3]" SITE "114" ;
LOCATE COMP "outs0[2]" SITE "113" ;
LOCATE COMP "outs0[1]" SITE "117" ;
LOCATE COMP "outs0[0]" SITE "115" ;
LOCATE COMP "clk00" SITE "120" ;
LOCATE COMP "cdiv00[4]" SITE "67" ;
LOCATE COMP "cdiv00[3]" SITE "68" ;
LOCATE COMP "cdiv00[2]" SITE "70" ;
LOCATE COMP "cdiv00[1]" SITE "69" ;
LOCATE COMP "cdiv00[0]" SITE "71" ;
LOCATE COMP "ins0[7]" SITE "38" ;
LOCATE COMP "ins0[6]" SITE "40" ;
LOCATE COMP "ins0[5]" SITE "39" ;
LOCATE COMP "ins0[4]" SITE "41" ;
LOCATE COMP "ins0[3]" SITE "42" ;
LOCATE COMP "ins0[2]" SITE "44" ;
LOCATE COMP "ins0[1]" SITE "43" ;
LOCATE COMP "ins0[0]" SITE "45" ;
LOCATE COMP "en0" SITE "56" ;
LOCATE COMP "sel[2]" SITE "61" ;
LOCATE COMP "sel[1]" SITE "65" ;
LOCATE COMP "sel[0]" SITE "62" ;
LOCATE COMP "barrelP[3]" SITE "57" ;
LOCATE COMP "barrelP[2]" SITE "59" ;
LOCATE COMP "barrelP[1]" SITE "58" ;
LOCATE COMP "barrelP[0]" SITE "60" ;
