BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "Am[7]" SITE "38" ;
LOCATE COMP "Am[6]" SITE "40" ;
LOCATE COMP "Am[5]" SITE "39" ;
LOCATE COMP "Am[4]" SITE "41" ;
LOCATE COMP "Am[3]" SITE "42" ;
LOCATE COMP "Am[2]" SITE "44" ;
LOCATE COMP "Am[1]" SITE "43" ;
LOCATE COMP "Am[0]" SITE "45" ;
LOCATE COMP "Bm[7]" SITE "47" ;
LOCATE COMP "Bm[6]" SITE "49" ;
LOCATE COMP "Bm[5]" SITE "48" ;
LOCATE COMP "Bm[4]" SITE "50" ;
LOCATE COMP "Bm[3]" SITE "52" ;
LOCATE COMP "Bm[2]" SITE "55" ;
LOCATE COMP "Bm[1]" SITE "54" ;
LOCATE COMP "Bm[0]" SITE "56" ;
LOCATE COMP "Rm[15]" SITE "120" ;
LOCATE COMP "Rm[14]" SITE "119" ;
LOCATE COMP "Rm[13]" SITE "122" ;
LOCATE COMP "Rm[12]" SITE "121" ;
LOCATE COMP "Rm[11]" SITE "126" ;
LOCATE COMP "Rm[10]" SITE "125" ;
LOCATE COMP "Rm[9]" SITE "128" ;
LOCATE COMP "Rm[8]" SITE "127" ;
LOCATE COMP "Rm[7]" SITE "110" ;
LOCATE COMP "Rm[6]" SITE "109" ;
LOCATE COMP "Rm[5]" SITE "112" ;
LOCATE COMP "Rm[4]" SITE "111" ;
LOCATE COMP "Rm[3]" SITE "114" ;
LOCATE COMP "Rm[2]" SITE "113" ;
LOCATE COMP "Rm[1]" SITE "117" ;
LOCATE COMP "Rm[0]" SITE "115" ;
