BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "Ai[7]" SITE "38" ;
LOCATE COMP "Ai[6]" SITE "40" ;
LOCATE COMP "Ai[5]" SITE "39" ;
LOCATE COMP "Ai[4]" SITE "41" ;
LOCATE COMP "Ai[3]" SITE "42" ;
LOCATE COMP "Ai[2]" SITE "44" ;
LOCATE COMP "Ai[1]" SITE "43" ;
LOCATE COMP "Ai[0]" SITE "45" ;
LOCATE COMP "Bi[7]" SITE "47" ;
LOCATE COMP "Bi[6]" SITE "49" ;
LOCATE COMP "Bi[5]" SITE "48" ;
LOCATE COMP "Bi[4]" SITE "50" ;
LOCATE COMP "Bi[3]" SITE "52" ;
LOCATE COMP "Bi[2]" SITE "55" ;
LOCATE COMP "Bi[1]" SITE "54" ;
LOCATE COMP "Bi[0]" SITE "56" ;
LOCATE COMP "SL" SITE "91" ;
LOCATE COMP "So[7]" SITE "110" ;
LOCATE COMP "So[6]" SITE "109" ;
LOCATE COMP "So[5]" SITE "112" ;
LOCATE COMP "So[4]" SITE "111" ;
LOCATE COMP "So[3]" SITE "114" ;
LOCATE COMP "So[2]" SITE "113" ;
LOCATE COMP "So[1]" SITE "117" ;
LOCATE COMP "So[0]" SITE "115" ;
