BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "Ai[3]" SITE "42" ;
LOCATE COMP "Ai[2]" SITE "44" ;
LOCATE COMP "Ai[1]" SITE "43" ;
LOCATE COMP "Ai[0]" SITE "45" ;
LOCATE COMP "Bi[3]" SITE "52" ;
LOCATE COMP "Bi[2]" SITE "55" ;
LOCATE COMP "Bi[1]" SITE "54" ;
LOCATE COMP "Bi[0]" SITE "56" ;
LOCATE COMP "SL" SITE "60" ;
LOCATE COMP "So[3]" SITE "114" ;
LOCATE COMP "So[2]" SITE "113" ;
LOCATE COMP "So[1]" SITE "117" ;
LOCATE COMP "So[0]" SITE "115" ;
LOCATE COMP "LED" SITE "110" ;
