BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "cdiv[4]" SITE "67" ;
LOCATE COMP "cdiv[3]" SITE "68" ;
LOCATE COMP "cdiv[2]" SITE "70" ;
LOCATE COMP "cdiv[1]" SITE "69" ;
LOCATE COMP "cdiv[0]" SITE "71" ;
LOCATE COMP "clk00" SITE "127" ;
LOCATE COMP "outcoder0[7]" SITE "132" ;
LOCATE COMP "outcoder0[6]" SITE "133" ;
LOCATE COMP "outcoder0[5]" SITE "138" ;
LOCATE COMP "outcoder0[4]" SITE "139" ;
LOCATE COMP "outcoder0[3]" SITE "140" ;
LOCATE COMP "outcoder0[2]" SITE "141" ;
LOCATE COMP "outcoder0[1]" SITE "142" ;
LOCATE COMP "outcoder0[0]" SITE "143" ;
LOCATE COMP "outr0[3]" SITE "82" ;
LOCATE COMP "outr0[2]" SITE "81" ;
LOCATE COMP "outr0[1]" SITE "78" ;
LOCATE COMP "outr0[0]" SITE "77" ;
LOCATE COMP "en0" SITE "62" ;
LOCATE COMP "inkey0[3]" SITE "73" ;
LOCATE COMP "inkey0[2]" SITE "74" ;
LOCATE COMP "inkey0[1]" SITE "75" ;
LOCATE COMP "inkey0[0]" SITE "76" ;
LOCATE COMP "disp[0]" SITE "28" ;
LOCATE COMP "disp[1]" SITE "33" ;
LOCATE COMP "disp[2]" SITE "35" ;
LOCATE COMP "disp[3]" SITE "34" ;
LOCATE COMP "disp[4]" SITE "32" ;
LOCATE COMP "disp[5]" SITE "27" ;
